.stop-left {
    stop-color: #2FAC66;  /* Indigo */
}

.stop-right {
    stop-color: #82368C;  /* Teal */
}

.stop-left-reverse {
    stop-color: #82368C;  /* Indigo */
}

.stop-right-reverse {
    stop-color: #2FAC66;  /* Teal */
}

.filled {
    fill: url(#mainGradient);
}

.outlined {
    fill:   none;
    stroke: url(#mainGradient);
    stroke-width: 3;
}

.sen-stop-left {
    stop-color: #22B573;  /* Indigo */
}

.stop-right {
    stop-color: #90278D;  /* Teal */
}

.filledOther {
    fill: url(#otherGradient);
}

.outlinedOther {
    fill:   none;
    stroke: url(#otherGradient);
    stroke-width: 4;
}


.dotMandante {
  height: 25px;
  width: 25px;
  background-color: #9E6F9E;
  border-radius: 50%;
  display: inline-block;
}
.dotProveedor {
  height: 25px;
  width: 25px;
  background-color: rgb(179 186 189);
  border-radius: 50%;
  display: inline-block;
}
.dotAmbos {
  height: 25px;
  width: 25px;
  background: rgb(34,181,115);
  background: linear-gradient(90deg, rgba(34,181,115,1) 0%, rgba(59,86,157,1) 50%, rgba(146,40,143,1) 100%);
  border-radius: 50%;
  display: inline-block;
}